.erlang.cookie
.escript
.rebar
*.app
*.app.src~
*.beam
*.build
*.buildinfo
*.changes
*.cmd
*.deb
*.dump
*.erl~
*.hrl~
*.sublime-project
*.tar.gz
*.zip
/trash
beam
beam.smp
deps
erl
ebin
rebar
rebar.config.save
release
relx
relx.config.release
tags
TAGS
src/sorm_shell_scan.erl
src/sorm_shell_parse.erl
