{release, {'ecss-sorm-test', "1.0"}, [
    ecss_sorm_test,
    async,
    chronica,
    runtime_tools
]}.

{sys_config, "config/sys.config"}.
{vm_args, "config/vm.args"}.

{lib_dirs, ["apps/", "deps/"]}.
{output_dir, "release"}.

{extended_start_script, true}.

{overlay, [
    {copy, "{{root_dir}}/test-sorm-run", "{{output_dir}}/bin/ecss-sorm-test-run"}
]}.
