[
    {ecss_sorm_test, [
        {db_name, "../../abonents.db"}
    ]},
    {async, [
        {pause, false},
        %% interval between processed changes files
        {collect_interval, 200},
        {load, [{chronica_manager, generate_iface_module}, {cmd, "notify-send"}]},
        {error, {cmd, "notify-send"}},
        {exclude_path_regexp, [ "/usr/lib/erlang/lib/*" ]}
    ]},
    {chronica, [
        {rules, [
            {debug,                  "debug", debug, [debug], on},
            {error_log,              "error_log", warning, [errors], on},
            {info,                   "info", info, [screen, info], on}
        ]},
        {flows, [
            {debug,      [{file, "debug.log"}]},
            {errors,     [{file, "errors.log"}]},
            {info,       [{file, "info.log"}]},
            {screen,     [{tty, short}]}
        ]}
        %,
        %{data_root, "/var/cache/ecss/ecss-sorm-test/chronica/<Node>"},
        %{log_root, "/var/log/ecss/ecss-sorm-test/<Year>_<Month>_<Day>_<Hour>_<Minute>_<Second>_<Node>"}
    ]},
    {sasl, [
        {sasl_error_logger, false}
    ]}
].
